# created by virtualenv automatically
bin
lib
share
workdir
__pycache__
NOTE
settings.ini
pyenv.cfg
redisdata
workdir
.idea
qrdir
tests.py
breez_sdk.py
.cashu
.env
letsencrypt
default
sync
rsyncexclude
NOTE
