[general]
testing = yes


[redis]
redisdb = 1
redisdb_host = redisdb
redisdb_port = 6379

[bot]
api_key = TLGAPIKEY

[lnbits]
wallet_id = WALLETID
admin_key = WALLETKEY
lnbits_server = https://yourdomain.com
lnurlp_webhook = https://apidomain/pathto/webhook
min_lnurlp = 10
max_lnurlp = 10000
lndomain = yourdomain.com
success_text = SatsContact

