server {
        listen 443 ssl;
        server_name yourapidomain.com;

        access_log /var/log/nginx/reverse-access.log; 
        error_log /var/log/nginx/reverse-error.log;

        location / {
	    allow IP-OF-LNBITS;
            deny all;
            include uwsgi_params;
            uwsgi_pass unix:/tmp/uwsgi.socket;
        }

        ssl_certificate /etc/letsencrypt/live/yourapidomain.com/fullchain.pem; # Point to the fullchain.pem
        ssl_certificate_key /etc/letsencrypt/live/yourapidomain.com/privkey.pem; # Point to the private key.

}


